<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=de vce-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"  />
</head>

<body>
    <header class="header">
        <div class="file1">
            <a href="/home"><img src="../images/logo-mercado-liebre.svg" class="imagen-logo" /></a>
            <div class="lupa">
                <form class="buscador">
                    <input class="input_search"  type="text" placeholder="Buscar productos, marcas y mas..." >
                    <button type="submit" class="btn-searc" ></button>
                      <i class="fa-solid fa-magnifying-glass"></i>
                    
                </form>
            
            </div>

            <div>
                <i class="fa-solid fa-hand-holding-dollar icon"></i>
                <span class="text">Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </div>

        <div class="file">
            <div class="navegación1">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="navegación2">
                <ul>
                    <li><a href="/register">Creá tu propia cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="/home">Más compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="burger">
            <button class="burger-menu">
                <i class="fas fa-bars"></i>
            </button>
        </div>

    </header>
    <div class="banner">
        <img src="../images/img-home-banner.jpg">
    </div>
    <main class="plano">
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="visita">
                <div class="productos">
                    <div class="shadow_content">
                        <p>Cafetera Moulinex</p>
                    </div>
                    <img src="../images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="shadow_content">
                        <p>Macbook PRO 2019</p>
                    </div>
                    <img src="../images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">Macbook PRO 2019</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="shadow_content">
                        <p>Samsung Galaxy S10</p>
                    </div>
                    <img src="../images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="shadow_content">
                        <p>TV Samsumg Smart</p>
                    </div>
                    <img src="../images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">TV Samsung Smart</p>
                    </div>
                </div>
            </div>

        </section>
        <section>
            <h3 class="titulares">Sección de Ofertas</h3>
            <div class="visita">
                <div class="productos">
                    <div class="shadow_content">
                        <p>Cafetera Moulinex</p>
                    </div>
                    <img src="../images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="shadow_content">
                        <p>Macbook PRO 2019</p>
                    </div>
                    <img src="../images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">Macbook PRO 2019</p>
                    </div>
                </div>
                <div class="productos">
                    <div class="shadow_content">
                        <p>Samsung Galaxy S10</p>
                    </div>
                    <img src="../images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="productos">
                    
                    <img src="../images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" />
                    <div class="caja">
                        <div class="envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">TV Samsung Smart</p>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <div class="pie-de-pag">
            <div class="present">
                <div>
                    <div class="menu">
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y
                        siempre
                        es seguro!</p>
                </div>


                <div>
                    <div class="menu">
                        <i class="fa-solid fa-gift"></i>
                    </div>

                    <h2>Envío gratis desde $2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p>

                </div>

                <div>

                    <div class="menu">
                        <i class="fa-solid fa-user-shield"></i>
                    </div>

                    <h2>Seguridada, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre
                        protegid@.</p>

                </div>


            </div>
            <div class="present">
                <p>Copyrigth @ 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
    </footer>
</body>

</html>