<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>

<body>


    <header class="header">
        <div class="file1">
            <a href="/home"><img src="../images/logo-mercado-liebre.svg" class="imagen-logo" /></a>
            <div class="lupa">
                <form class="buscador">
                    <input class="input_search" type="text" placeholder="Buscar productos, marcas y mas...">
                    <button type="submit" class="btn-searc"></button>
                    <i class="fa-solid fa-magnifying-glass"></i>

                </form>

            </div>

            <div>
                <i class="fa-solid fa-hand-holding-dollar icon"></i>
                <span class="text">Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </div>

        <div class="file">
            <div class="navegación1">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="navegación2">
                <ul>
                    <li><a href="/register">Creá tu propia cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="/home">Más compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="burger">
            <button class="burger-menu">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <main>

        <div class="tabl">

            <h1 class="titulo">Login</h1>
            <form action="/login.html" method="POST">
                <div class="inpust">
                    <div class="usuario">
                        <label for="usuario">Usuario:</label>
                        <input type="text" id="usuario"  placeholder="Usuario" required>
                    </div>

                    <div class="contraseña">
                        <label for="contraseña">Contraseña:</label>
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                    </div>

                    <div class="button">
                        <button type="submit">Enviar</button>
                    </div>

                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="pie-de-pag">
            <div class="present">
                <div class="iconos">
                    <div class="menu">
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y
                        siempre
                        es seguro!</p>
                </div>


                <div class="iconos">
                    <div class="menu">
                        <i class="fa-solid fa-gift"></i>
                    </div>

                    <h2>Envío gratis desde $2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p>

                </div>

                <div class="iconos">

                    <div class="menu">
                        <i class="fa-solid fa-user-shield"></i>
                    </div>

                    <h2>Seguridada, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre
                        protegid@.</p>

                </div>


            </div>
            <div class="present">
                <p>Copyrigth @ 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
    </footer>
</body>

</html>