*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color:#ebebeb;
}

.header{
    background-color: rgb(255, 240, 72);
    font-family:"Roboto, sans-serif";
    padding: 0.5em 1.8em 1.8em 1.5em;
}

.file1{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    
    
}
.file{
    display: flex;
    flex-wrap:wrap ;
    margin-top: 0.9em;
    gap: 1.5em;
    row-gap: 1.5em;
    column-gap: 1.5em;

}
ul {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.imagen-logo{
    width:190px;
    display: block;
}
.imagen-logo img{
    max-width: 100%;
    max-height: 100%;
}

.search {
    background-color:white;
    color:#000;
    width: max-content;
   position: relative;
   left: 200px;
    text-align: left;
    max-width: 1px;
}
.text{
    color:black;
    text-align:center ;
}
li a:link{
    color: #000;
    text-decoration: none;
}

li a:visited{
    color: black;
    text-decoration: none;
}

.buscador{
    background-color:white;
    color:#666;

    border:1px solid white ;
    display:flex;
    width: 480px;
    padding: 0.8em 1.2em;
}

/*.header img{
    padding: 1rem;
}*/
.banner{
    display: block;
}
.banner img{
    max-width: 100%;
    max-height: 100%;

}

.burger-menu{
    display: inline;
    padding: 0.5rem 0.7rem;
    border-radius: 3rem;
    background-color: #1259c3;
    color:white;
    text-align: center;
 
    font-size: 1.4em;
    border: none;
    margin-top: 0.5em;
    cursor: pointer;
}

.navegación1 li{
    padding: auto;
    display: flex;
    
    align-items: flex-start;
    justify-content: space-around;
}

.navegación2 li{
    padding: auto;
    display: flex;
   flex-wrap:wrap ;
    align-items: flex-end;
}

.plano{
   
   width: 90%;
   margin: 0 auto 2em;
   display: block;
}

.titulares{
    font-size: 24px;
    text-align:left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    display: block;
}

.precios p{
    font-size: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.descuento p{
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.descripcion p{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 16px;
}

.menu i{
    display: inline;
    padding: 0.5rem 0.7rem;
    border-radius: 3rem;
    color:#1259c3;
    align-items: center;
    margin-bottom: 10px;
    font-size: 2em;

}



.visita{
    display: flex;
}

.productos{
    padding: 10px;
    text-align: center;
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
    cursor: pointer;

}
.productos img{
    max-width: 100%;
    max-height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: ;
    overflow-y: ;
}

.envio i{
    color: #39b54a;
    display: inline;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    border: 1px solid #39b54a;
    margin-bottom: 10px

   / display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fad, .fal, .far, .fas{
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
}

.caja{
    border-top: solid 1px #ebebeb ;
    background-color: white;
    text-align: left;
    padding: 1.5em;
    position: relative;
}

footer{
    padding: 16px;
    text-align: center;
    background-color: white;
    display: block;
}

.pie-de-pag{
    margin-bottom: 10px;

}

.present{
    padding-bottom: 5px;
    margin-bottom: 1.1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 1.5em;
    padding: 1.5em;
}
.present h2{
    font-size: 14px;
}
.present p{
    font-size: 13px;
}